<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../js/session.js"></script>
<script src="../js/common.js"></script>
<script src="../js/files.js"></script>
<style>
    #drawer{
        transition: 400ms;
    }
</style>
</head>
<body>
    <div class="bg-gray-100 fixed top-0 left-0 w-[300px] h-full p-8 space-y-12">
        <div class="flex gap-1">
            <img src="/images/logo.png" alt="logo" class="w-10">
            <div class="flex">
                <h1 class="text-3xl font-semibold">Share</h1>
                <h1 class="text-3xl text-blue-600 font-semibold">Kit</h1>
            </div>
        </div>

        <div class="flex flex-col gap-y-4">
            <div class="text-center mb-4">
                <button class="relative " >
                    <img src="../images/avt.png" alt="AvtImg" id="picture" class="w-[100px] h-[100px] object-cover rounded-full">
                    <input type="file" id="file" accept="image/*" class="absolute top-0 left-0 w-full h-full rounded-full opacity-0 cursor-pointer" onchange="uploadProfilePic(event)">
                </button>
                <div>
                    <h1 class="text-lg font-semibold capitalize" id="fullname"></h1>
                    <label class="text-gray-600" id="email"></label>
                </div>
            </div>

            <a href="/app/dashboard.html" class="bg-zinc-200 px-3 py-2 rounded">
                <i class="ri-dashboard-line text-lg"></i>Dashboard
            </a>
            <a href="/app/files.html" class="bg-zinc-200 px-3 py-2 rounded">
                <i class="ri-file-3-fill"></i>Files
            </a>
            <a href="#" class="bg-zinc-200 px-3 py-2 rounded" onclick="logout()">
                <i class="ri-logout-circle-r-fill text-lg"></i>Logout
            </a>
        </div>
        
        <div>
            <div class="bg-blue-100 h-2 mb-2">
                <div class="w-[50%] bg-blue-600 h-full"></div>
            </div>
            <label class="text-sm">200.05 MB of 1024 MB</label>
        </div>
        <a href="#" class="bg-slate-900 w-full p-3  text-white block rounded text-center">
            <i class="ri-money-rupee-circle-fill text-lg"></i>Upgrade Now
        </a>
    </div>
    <div class="ml-[300px] p-8 " style="width: calc(100% - 300px);">
        <h1 class="text-2xl font-semibold">Files</h1>
        <div class="mt-8 p-16 rounded-lg text-white text-center bg-gradient-to-r from-cyan-500 to-blue-500 relative">
            <i class="ri-upload-2-line text-4xl" ></i>
            <p class="text-lg">choose a file to upload now </p>
            <input type="file" class="opacity-0 absolute top-0 left-0 w-full h-full" onchange="uploadFile(event)">
        </div>

        <div>
            <div class="bg-blue-100 text-white mt-8">
                <div class="w-0 bg-blue-600 h-full text-center" id="progress">
                    
                </div>
            </div>
            <div id="size"></div>
        </div>
 

        <div class=" mt-8 gap-12">

            <table class="w-full" id="files-table">
                <tr class="bg-gray-200 text-left">
                    <th class="py-4 pl-3">s/No</th>
                    <th>FileName</th>
                    <th>Size</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
                <tbody>
                  
                </tbody>
            </table>

            <div class="flex gap-2 justify-end mt-8">
                <button class="bg-slate-900 rounded px-4 py-2 text-white">1</button>
                <button class="bg-slate-900 rounded px-4 py-2 text-white">2</button>
                <button class="bg-slate-900 rounded px-4 py-2 text-white">3</button>
                <button class="bg-slate-900 rounded px-4 py-2 text-white">4</button>
                <button class="bg-slate-900 rounded px-4 py-2 text-white">5</button>
            </div>
        </div>
       
        <aside id="drawer" class="bg-white w-[450px] fixed top-0 h-full shadow-lg -right-[450px]"> <!-- -right-[450px] -->
            <div class="px-6 py-4 border-b flex item-center justify-between">
                <h1 class="text-lg font-medium" id="fileName"></h1>
                <i class="ri-close-circle-fill" onclick="closeDrawer()"></i>
            </div>
            <form class="p-6 space-y-8" onsubmit="shareFile(event)">

                <div class="flex flex-col hidden">
                    <label class="text-lg font-medium mb-2">Sender</label>
                    <input type="text" name="sender" class="border rounded p-3" readonly disabled required id="sender">
                </div>

                <div class="flex flex-col">
                    <label class="text-lg font-medium mb-2">Fullname</label>
                    <input type="text" name="user" class="border rounded p-3" placeholder="Enter the name of user" required>
                </div>

                <div class="flex flex-col">
                    <label class="text-lg font-medium mb-2">Email</label>
                    <input type="email" name="email" class="border rounded p-3" placeholder="mail@example.com" required>
                </div>

                <div class="flex flex-col hidden">
                    <label class="text-lg font-medium mb-2">File</label>
                    <input readonly disabled name="file" class="border rounded p-3" required id="file-input">
                </div>

                <button class="bg-indigo-600 text-white px-6 py-3 rounded hidden" disabled id="loading-btn">
                    <i class="ri-send-plane-line"></i>
                    Sending...
                </button>

                <button class="bg-rose-600 text-white px-6 py-3 rounded" id="sending-btn">
                    <i class="ri-send-plane-line"></i>
                    SEND
                </button>
            </form>
        </aside>
    </div>

</body>
</html>